@use 'variables' as *;

/* Définition des couleurs */
:root {
  --button-first-color: #FF79DA;
  --button-second-color: #9356DC;
  --button-third-color: #99E2D0;
  --button-alert-color: #008766;
}

// /* Loader */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 3s ease-in-out forwards;
}

/* Cercle de rotation avec dégradé */
.loader::after {
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: var(--button-first-color);
  border-right-color: var(--button-second-color);
  border-bottom-color: var(--button-third-color);
  animation: spin 3s linear forwards;
}


/* Animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Animation pour faire disparaître le loader après un délai */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Contenu principal qui sera visible après le loader */
.content {
  display: none;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards 3s;
}

/* Animation de fade-in pour le contenu */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



// ANIMATIONS MENU //

/* Masque initial des sections */
.menu-list {
  opacity: 0;
  transform: translateX(40px);
  animation: groupAppear 1s ease-out forwards;
}

/* Animation pour chaque groupe (Entrées, Plats, Desserts) */
@keyframes groupAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Délai d'animation pour chaque groupe */
.entrees {
  animation-delay: 0s;
}

.plats {
  animation-delay: 0.5s;
}

.desserts {
  animation-delay: 1s;
}

