@use 'variables' as *;
@use 'mixins' as *;


// /* Loader */
.loader {
  position: fixed; /* Prend toute la page */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  @include center();
  z-index: 9999;
  animation: fadeOut 3s ease-in-out forwards;

  /* Cercle de rotation avec dégradé */
  &::after {
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: $button-first-color;
    border-right-color: $button-second-color;
    border-bottom-color: $button-third-color;
    animation: spin 3s linear forwards;
  }
}

/* Animation de rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Animation pour faire disparaître le loader après un délai */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Contenu principal qui sera visible après le loader */
.content {
  display: none;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards 3s;
}

/* Animation de fade-in pour le contenu */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



// ANIMATIONS MENU //

/* Masque initial des sections */
.menu-list {
  opacity: 0;
  transform: translateX(40px);
  animation: groupAppear 1s ease-out forwards;
}

/* Animation pour chaque groupe (Entrées, Plats, Desserts) */
@keyframes groupAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Délai d'animation pour chaque groupe */
.entrees {
  animation-delay: 0s;
}

.plats {
  animation-delay: 0.5s;
}

.desserts {
  animation-delay: 1s;
}



