@use 'variables' as *;
@use 'mixins' as *;


// INFO BUTTON // 
.info button {
    color: $text-secondary-color;
    border: none;
    padding: 13px 19px;
    font-size: 16px;
    font-weight: 500;
    @include border-radius(25px);
    @include btn-gradient($button-first-color, $button-second-color);
    @include shadow(0px, 4px, 10px, rgba(0, 0, 0, 0.15));
}



// FONCTIONNEMENT BUTTON //
.fonct-btn {
    @include center(column);
    gap: 25px;

    button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 95%;
        border: none;
        position: relative;
        padding: 10px 5px 10px 10px;
        background-color: $secondary-bg-color;
        @include border-radius(20px);
        @include shadow(0px, 4px, 15px, rgba(0, 0, 0, 0.14));

        .button-number {
            position: absolute;
            left: -12px;
            background-color: $button-second-color;
            border-radius: 25px;
            color: $text-secondary-color;
            padding: 4px 8px;
            font-size: 15px;
        }

        i {
            margin-left: 25px;
            color: $secondary-icon-color;
            font-size: 19px;
        }

        p {
            margin-left: 25px;
            font-size: 16px;
            font-weight: 500;
        }

        #icone-store {
            color: $button-second-color;
        }
    }
}