@use 'variables' as *;
@use 'mixins' as *;


footer {
  background-color: $footer-bg-color;
  color: $text-secondary-color;
  text-decoration: none;
  padding: 22px 25px 22px 25px;


  .logo-footer {
    width: 30%;
    filter: invert(1);

    @media (min-width: 768px) {
      width: 10%;
      margin-top: 20px;
    }
    @media (min-width: 1200px) {
      width: 8%;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    text-decoration: none;

    .footer-group {
     
      li {
        padding-bottom: 7px;
        font-size: 16px;
        // font-weight: 500;
      }

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      padding-right: 20px;
      margin-top: 30px;
    }
    @media (min-width: 1200px) {
      gap: 40px;
      padding-right: 70px;
    }
  }

  i {
    font-size: 12px;
    padding-right: 11px;
  }

  .fa-utensils {
    padding-right: 15px;
  }

  a {
    color: inherit;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    
  }
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }
} 