@mixin center($flex-direction: column) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}

@mixin shadow($horiz: 0px, $vert: 4px, $flou: 6px, $couleur: rgba(0, 0, 0, 0.1)) {
  box-shadow: $horiz $vert $flou $couleur;
}

@mixin border-radius($rayon: 20px) {
  border-radius: $rayon;
}

@mixin btn-gradient($button-first-color, $button-second-color) {
  background: linear-gradient(to bottom, $button-first-color, $button-second-color);
}

@mixin center-media ($min-width: 768px, $justify-content: 0) {

  @media (min-width: $min-width) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    @if $justify-content==1 {
      justify-content: center;
    }
  }
}