// Background color //
$primary-bg-color: #ffffff;
$secondary-bg-color: #f6f6f6; 
$footer-bg-color: #353535;


// Formulaire color //
$form-color: #EAEAEA;


// Text color //
$text-primary-color: black;
$text-secondary-color: white;
$text-third-color: #353535;


// Icons colors //
$primary-icon-color: #353535;
$secondary-icon-color: #7E7E7E;


// Fonts //
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', sans-serif;


// Buttons color //
$button-first-color: #FF79DA;
$button-second-color: #9356DC;
$button-third-color: #99E2D0;
$button-alert-color: #008766


