@charset "UTF-8";
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
header .logo-header {
  width: 50%;
  margin: 20px 0;
}
@media (min-width: 768px) {
  header .logo-header {
    width: 15%;
  }
}
header .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
header .search-form i {
  font-size: 17px;
  color: #353535;
}
header .search-form form {
  color: #EAEAEA;
}
header .search-form form input {
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  color: #353535;
  background-color: #EAEAEA;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.header-menu i {
  color: black;
  position: absolute;
  left: 24px;
}
.header-menu .logo-header {
  margin-left: 50px;
}

.restaurant-header {
  position: relative;
  width: 100%;
}
.restaurant-header img {
  width: 100%;
  height: auto;
  display: block; /* Évite l'espace blanc sous l'image */
}

.restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media (min-width: 768px) {
  .restaurants-cards a {
    width: 340px;
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .restaurants-cards a {
    width: 490px;
    height: 250px;
  }
}
.restaurants-cards .card {
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.restaurants-cards .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants-cards .card .alert {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px;
  font-size: 14px;
}
.restaurants-cards .card-content {
  padding-left: 15px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants-cards .card-content .card-txt h3 {
  margin-bottom: 0;
  font-size: 18px;
}
.restaurants-cards .card-content .card-txt p {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 1024px) {
  .restaurants-cards {
    gap: 100px;
  }
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  gap: 25px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.info h1 {
  padding: 0 50px;
  margin: 0;
}
@media (min-width: 768px) {
  .info h1 {
    font-size: 40px;
    font-weight: 700;
  }
}
.info p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.main-section {
  padding: 40px 20px 70px 20px;
}
@media (min-width: 768px) {
  .main-section {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.restaurants {
  background-color: #f6f6f6;
}

.menu {
  position: relative;
}
.menu .menu-content {
  position: relative;
  background-color: #f6f6f6;
  padding: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -30px;
  /* Permet de faire dépasser la section sur l'image */
  z-index: 1;
  /* Assure que le contenu du menu est au-dessus de l'image */
}
.menu .menu-content .menu-restaurant-title {
  position: relative;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
.menu .menu-content .menu-restaurant-title .card-rating i {
  font-size: 30px;
}

.info button, .command-btn {
  color: white;
  border: none;
  padding: 13px 19px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: filter 0.3s ease-out, box-shadow 0.3s ease-out;
}
.info button:hover, .command-btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.fonct-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.fonct-btn button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 335px;
  border: none;
  position: relative;
  padding: 10px 5px 10px 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
}
.fonct-btn button .button-number {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  border-radius: 25px;
  color: white;
  padding: 4px 8px;
  font-size: 15px;
}
.fonct-btn button i {
  margin-left: 25px;
  color: #7E7E7E;
  font-size: 19px;
}
.fonct-btn button p {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 500;
}
.fonct-btn button #icone-store {
  color: #9356DC;
}
@media (min-width: 1200px) {
  .fonct-btn {
    flex-direction: row;
  }
}

.card-rating .fa-heart {
  position: absolute;
  right: 15px;
  bottom: 30px;
  font-size: 23px;
}
.card-rating .empty-heart,
.card-rating .full-heart {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.card-rating .empty-heart {
  opacity: 1;
}
.card-rating .full-heart {
  color: transparent;
  opacity: 0;
  background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
.card-rating:hover .empty-heart {
  opacity: 0;
}
.card-rating:hover .full-heart {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  text-decoration: none;
  padding: 22px 25px 22px 25px;
}
footer .logo-footer {
  width: 30%;
  filter: invert(1);
}
@media (min-width: 768px) {
  footer .logo-footer {
    width: 10%;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  footer .logo-footer {
    width: 8%;
  }
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  text-decoration: none;
}
footer ul .footer-group li {
  padding-bottom: 7px;
  font-size: 16px;
}
@media (min-width: 768px) {
  footer ul .footer-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  footer ul {
    gap: 40px;
    padding-right: 70px;
  }
}
footer i {
  font-size: 12px;
  padding-right: 11px;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer a {
  color: inherit;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
