header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
header .logo-header {
  width: 50%;
  margin: 20px 0;
}
header .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
header .search-form i {
  font-size: 17px;
  color: #353535;
}
header .search-form form {
  color: #EAEAEA;
}
header .search-form form input {
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  color: #353535;
  background-color: #EAEAEA;
}

.restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.restaurants-cards .card {
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.restaurants-cards .card img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants-cards .card .alert {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px;
  font-size: 14px;
}
.restaurants-cards .card-content {
  padding-left: 15px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants-cards .card-content .card-txt h3 {
  margin-bottom: 0;
  font-size: 18px;
}
.restaurants-cards .card-content .card-txt p {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants-cards .card-content .card-rating {
  padding-right: 15px;
}
.restaurants-cards .card-content .card-rating i {
  font-size: 23px;
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  gap: 25px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.info h1 {
  padding: 0 50px;
  margin: 0;
}
.info p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.main-section {
  padding: 40px 20px 70px 20px;
}

.restaurants {
  background-color: #f6f6f6;
}

.info button {
  color: white;
  border: none;
  padding: 13px 19px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.fonct-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.fonct-btn button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  border: none;
  position: relative;
  padding: 10px 5px 10px 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
}
.fonct-btn button .button-number {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  border-radius: 25px;
  color: white;
  padding: 4px 8px;
  font-size: 15px;
}
.fonct-btn button i {
  margin-left: 25px;
  color: #7E7E7E;
  font-size: 19px;
}
.fonct-btn button p {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 500;
}
.fonct-btn button #icone-store {
  color: #9356DC;
}

footer {
  background-color: #353535;
  color: white;
  text-decoration: none;
  padding: 22px 25px 22px 25px;
}
footer .logo-footer {
  width: 30%;
  filter: invert(1);
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  text-decoration: none;
}
footer ul li {
  padding-bottom: 7px;
  font-size: 16px;
}
footer i {
  font-size: 12px;
  padding-right: 11px;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer a {
  color: inherit;
}

/*# sourceMappingURL=main.css.map */
