@charset "UTF-8";
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
header .logo-header {
  width: 50%;
  margin: 20px 0;
}
@media (min-width: 768px) {
  header .logo-header {
    width: 15%;
  }
}
header .search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EAEAEA;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
header .search-form i {
  font-size: 17px;
  color: #353535;
}
header .search-form form {
  color: #EAEAEA;
}
header .search-form form input {
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  color: #353535;
  background-color: #EAEAEA;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.header-menu i {
  color: black;
  position: absolute;
  left: 24px;
}

.restaurant-header {
  position: relative;
  width: 100%;
}
.restaurant-header img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .restaurant-header img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

.restaurants-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media (min-width: 768px) {
  .restaurants-cards a {
    width: 340px;
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .restaurants-cards a {
    width: 490px;
    height: 250px;
  }
}
.restaurants-cards .card {
  background-color: white;
  position: relative;
  border-radius: 20px;
}
.restaurants-cards .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants-cards .card .alert {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 9px;
  font-size: 14px;
}
.restaurants-cards .card-content {
  padding-left: 15px;
  padding-right: 25px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants-cards .card-content .card-txt h3 {
  margin-bottom: 0;
  font-size: 18px;
}
.restaurants-cards .card-content .card-txt p {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .restaurants-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 1024px) {
  .restaurants-cards {
    gap: 100px;
  }
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  gap: 25px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.info h1 {
  padding: 0 50px;
  margin: 0;
}
@media (min-width: 768px) {
  .info h1 {
    font-size: 40px;
    font-weight: 700;
  }
}
.info p {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.main-section {
  padding: 40px 20px 70px 20px;
}
@media (min-width: 768px) {
  .main-section {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.restaurants {
  background-color: #f6f6f6;
}

.menu {
  position: relative;
}
.menu .menu-content {
  position: relative;
  background-color: #f6f6f6;
  padding: 30px 13px 20px 13px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -45px;
}
.menu .menu-content .menu-restaurant-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.menu .menu-content .menu-restaurant-title h1 {
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  padding-right: 24px;
}
.menu .menu-content .menu-restaurant-title .card-rating i {
  font-size: 28px;
}
@media (min-width: 768px) {
  .menu .menu-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
.menu .section-menu {
  display: flex;
  flex-direction: column;
}
.menu .section-menu .section-title {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin: 40px 0 12px 10px;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 6px;
  text-align: left;
}
.menu .section-menu .menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .section-menu .menu-list .menu-item {
  padding: 12px 15px 12px 15px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
  position: relative;
  overflow: hidden;
}
.menu .section-menu .menu-list .menu-item:active .checkmark-container {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 1064px) {
  .menu .section-menu .menu-list .menu-item:hover .checkmark-container {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu .section-menu .menu-list .menu-item .checkmark-container {
  top: 0;
  right: 0;
  width: 59px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}
.menu .section-menu .menu-list .menu-item .checkmark-container .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.menu .section-menu .menu-list .menu-item .card-txt .card-title {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.5s ease-out;
}
.menu .section-menu .menu-list .menu-item .card-txt .card-title:active {
  text-overflow: ellipsis;
  max-width: 70%;
}
@media (min-width: 768px) {
  .menu .section-menu .menu-list .menu-item .card-txt .card-title:active {
    max-width: 80%;
  }
}
.menu .section-menu .menu-list .menu-item .card-txt .card-title h3 {
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 1064px) {
  .menu .section-menu .menu-list .menu-item .card-txt .card-title:hover {
    text-overflow: ellipsis;
    max-width: 70%;
  }
}
.menu .section-menu .menu-list .menu-item .card-txt .card-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.menu .section-menu .menu-list .menu-item .card-txt .card-subtitle p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}
.menu .section-menu .menu-list .menu-item .card-txt .card-subtitle p:nth-child(1) {
  max-width: 100%;
  text-overflow: ellipsis;
  transition: max-width 0.5s ease-out;
}
.menu .section-menu .menu-list .menu-item .card-txt .card-subtitle p:nth-child(2) {
  transition: transform 0.5s ease-out;
}
.menu .section-menu .menu-list .menu-item:active .card-subtitle p:nth-child(1) {
  max-width: 70%;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .menu .section-menu .menu-list .menu-item:active .card-subtitle p:nth-child(1) {
    max-width: 80%;
  }
}
.menu .section-menu .menu-list .menu-item:active .card-subtitle p:nth-child(2) {
  transform: translateX(-50px);
}
@media (min-width: 1064px) {
  .menu .section-menu .menu-list .menu-item:hover .card-subtitle p:nth-child(1) {
    max-width: 70%;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1064px) and (min-width: 768px) {
  .menu .section-menu .menu-list .menu-item:hover .card-subtitle p:nth-child(1) {
    max-width: 80%;
  }
}
@media (min-width: 1064px) {
  .menu .section-menu .menu-list .menu-item:hover .card-subtitle p:nth-child(2) {
    transform: translateX(-50px);
  }
}
@media (min-width: 768px) {
  .menu .section-menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.info button,
.command-btn {
  color: white;
  border: none;
  padding: 13px 19px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: filter 0.3s ease-out, box-shadow 0.3s ease-out;
}
.info button:hover,
.command-btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.command-btn {
  align-self: center;
  margin: 40px auto 20px auto;
  padding: 16px 49px;
}

.fonct-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.fonct-btn .button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 335px;
  border: none;
  position: relative;
  padding: 10px 5px 10px 10px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.14);
}
.fonct-btn .button .button-number {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  border-radius: 25px;
  color: white;
  padding: 4px 8px;
  font-size: 15px;
}
.fonct-btn .button i {
  margin-left: 25px;
  color: #7E7E7E;
  font-size: 19px;
}
.fonct-btn .button p {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 500;
}
.fonct-btn .button #icone-store {
  color: #9356DC;
}
@media (min-width: 1200px) {
  .fonct-btn {
    flex-direction: row;
  }
}

.card-rating {
  position: relative;
  cursor: pointer;
}
.card-rating .fa-heart {
  font-size: 23px;
}
.card-rating .empty-heart,
.card-rating .full-heart {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.card-rating .empty-heart {
  color: black;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}
.card-rating .full-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-rating:active .empty-heart {
  opacity: 0;
}
.card-rating:active .full-heart {
  opacity: 1;
}
@media (min-width: 1064px) {
  .card-rating:hover .empty-heart {
    opacity: 0;
  }
  .card-rating:hover .full-heart {
    opacity: 1;
  }
}

footer {
  background-color: #353535;
  color: white;
  text-decoration: none;
  padding: 22px 25px 22px 25px;
}
footer .logo-footer {
  width: 30%;
  filter: invert(1);
}
@media (min-width: 768px) {
  footer .logo-footer {
    width: 10%;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  footer .logo-footer {
    width: 8%;
  }
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  text-decoration: none;
}
footer ul .footer-group li {
  padding-bottom: 7px;
  font-size: 16px;
}
@media (min-width: 768px) {
  footer ul .footer-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  footer ul {
    gap: 40px;
    padding-right: 70px;
  }
}
footer i {
  font-size: 12px;
  padding-right: 11px;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer a {
  color: inherit;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }
}

.loader {
  position: fixed; /* Prend toute la page */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  animation: fadeOut 3s ease-in-out forwards;
  /* Cercle de rotation avec dégradé */
}
.loader::after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #FF79DA;
  border-right-color: #9356DC;
  border-bottom-color: #99E2D0;
  animation: spin 3s linear forwards;
}

/* Animation de rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animation pour faire disparaître le loader après un délai */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* Contenu principal qui sera visible après le loader */
.content {
  display: none;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards 3s;
}

/* Animation de fade-in pour le contenu */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Masque initial des sections */
.menu-list {
  opacity: 0;
  transform: translateX(40px);
  animation: groupAppear 1s ease-out forwards;
}

/* Animation pour chaque groupe (Entrées, Plats, Desserts) */
@keyframes groupAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Délai d'animation pour chaque groupe */
.entrees {
  animation-delay: 0s;
}

.plats {
  animation-delay: 0.5s;
}

.desserts {
  animation-delay: 1s;
}

/*# sourceMappingURL=main.css.map */
